name: Test Action

on:
  pull_request:

jobs:
  test:
    name: Test ${{ matrix.version }} on ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        version: [alpha4-rolling, nightly]
        include:
          - os: Linux
            arch: x86_64
            runner: ubuntu-latest
          - os: Linux
            arch: arm64
            runner: ubuntu-24.04-arm
          - os: macOS
            arch: x86_64
            runner: macos-15-intel
          - os: macOS
            arch: arm64
            runner: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Roc
        uses: ./
        with:
          version: ${{ matrix.version }}

      - name: Check Roc version
        run: roc version

      - name: Download HelloWorld example
        run: curl -fsSL -o main.roc https://raw.githubusercontent.com/roc-lang/examples/main/examples/HelloWorld/main.roc

      - name: Run HelloWorld example
        run: roc main.roc
