name: Test Action

on:
  pull_request:

jobs:
  test:
    name: Test ${{ matrix.version }} on ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - os: Linux
            arch: x86_64
            runner: ubuntu-latest
            version: alpha3-rolling
          - os: Linux
            arch: x86_64
            runner: ubuntu-latest
            version: alpha4-rolling
          - os: Linux
            arch: x86_64
            runner: ubuntu-latest
            version: nightly
          - os: Linux
            arch: x86_64
            runner: ubuntu-latest
            version: nightly-new-compiler
          - os: Linux
            arch: arm64
            runner: ubuntu-24.04-arm
            version: alpha3-rolling
          - os: Linux
            arch: arm64
            runner: ubuntu-24.04-arm
            version: alpha4-rolling
          - os: Linux
            arch: arm64
            runner: ubuntu-24.04-arm
            version: nightly
          - os: Linux
            arch: arm64
            runner: ubuntu-24.04-arm
            version: nightly-new-compiler
          - os: macOS
            arch: x86_64
            runner: macos-15-intel
            version: alpha3-rolling
          - os: macOS
            arch: x86_64
            runner: macos-15-intel
            version: alpha4-rolling
          - os: macOS
            arch: x86_64
            runner: macos-15-intel
            version: nightly
          - os: macOS
            arch: x86_64
            runner: macos-15-intel
            version: nightly-new-compiler
          - os: macOS
            arch: arm64
            runner: macos-latest
            version: alpha3-rolling
          - os: macOS
            arch: arm64
            runner: macos-latest
            version: alpha4-rolling
          - os: macOS
            arch: arm64
            runner: macos-latest
            version: nightly
          - os: macOS
            arch: arm64
            runner: macos-latest
            version: nightly-new-compiler

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Roc
        uses: ./
        with:
          version: ${{ matrix.version }}

      - name: Check Roc version
        run: roc version

      - name: Download HelloWorld example (old compiler)
        if: matrix.version != 'nightly-new-compiler'
        run: curl -fsSL -o main.roc https://raw.githubusercontent.com/roc-lang/examples/main/examples/HelloWorld/main.roc

      - name: Download HelloWorld example (new compiler)
        if: matrix.version == 'nightly-new-compiler'
        run: curl -fsSL -o main.roc https://raw.githubusercontent.com/roc-lang/nightlies/main/hello_world_test.roc

      - name: Run HelloWorld example
        run: roc main.roc
